/* Card styles */
.card {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.2);
  background-color: rgb(48, 48, 48);
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  --card-height: auto;
}

/* Main content inside the card */
.card-content-main {
  height: 100%;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-overflow: ellipsis;
  color: #e0e0e0;
}

/* Secondary content inside the card */
.card-content-secondary {
  padding: 1rem;
  background-color: #333;
  border-top: 0.0625rem solid #555;
  color: #e0e0e0;
}

/* Placeholder card */
.card.placeholder {
  visibility: hidden;
}

/* Card hover effect */
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.5);
}

/* Card title styles */
.card-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

/* Card image styles */
.card-image {
  border-radius: 1rem;
  object-fit: cover;
  width: 100%;
  max-height: 15rem;
}

/* Modal styles */
.modal {
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10000;
  top: var(--card-original-top);
  left: var(--card-original-left);
  width: var(--card-original-width);
  height: var(--card-height);
  animation: moveToCenter 0.5s ease-in-out forwards;
  background-color: #222;
  border-radius: 1.5rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
}

/* Modal hover effect */
.modal:hover {
  transform: scale(1);
}

/* Modal background overlay */
.modal-background {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.625rem);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* Main content inside the modal */
.modal-content-main {
  justify-content: center;
  width: 40%;
  padding: 1rem;
}

/* Secondary content inside the modal */
.modal-content-secondary {
  height: min-content;
  width: 60%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

/* Modal info text */
.modal-info {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #ccc;
}

/* Modal buttons container */
.modal-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

/* Modal button container and button styles */
.modal-button-container,
.modal-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Modal button text styles */
.modal-button-container p,
.modal-button p {
  margin: 0;
  padding: 0;
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: white;
}

/* Modal buttons styles */
.modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Modal buttons hover effect */
.modal-buttons button:hover {
  background-color: #0056b3;
}

/* Close icon styles */
.close-icon {
  position: absolute;
  cursor: pointer;
}

/* Animation for moving modal to center */
@keyframes moveToCenter {
  0% {
    height: var(--card-height);
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 70vh; /* Final height */
  }
}

/* Media query for screens with max-width 37.5rem (600px) */
@media (max-width: 37.5rem) {
  .close-icon {
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .card-image {
    max-height: 10rem;
  }
  .modal-content-main {
    margin-top: 1rem;
    width: 80%;
  }
  .modal {
    flex-direction: column;
    padding: 1rem;
  }

  .modal-content-secondary {
    padding: 1.5rem 3rem;
    overflow: scroll;
  }

  .modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @keyframes moveToCenter {
    0% {
      height: var(--card-height); /* Start with the card's height */
    }
    100% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1.5rem;
      box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.5);
      width: 80vw;
      height: 85vh; /* Final height */
    }
  }
}

/* Media query for screens between 37.5rem (600px) and 64rem (1024px) */
@media (min-width: 37.5rem) and (max-width: 64rem) {
  .close-icon {
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .card-image {
    max-height: 10rem;
  }

  .modal-content-main {
    margin-top: 1rem;
    width: 70%;
  }

  .modal-content-secondary {
    width: 70%;
  }

  .modal {
    flex-direction: column;
    padding: 1rem;
  }

  .modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @keyframes moveToCenter {
    0% {
      height: var(--card-height); /* Start with the card's height */
    }
    100% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1.5rem;
      box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.5);
      width: 70vw;
      height: 80vh; /* Final height */
    }
  }
}

/* Media query for screens with min-width 64.0625rem (1025px) */
@media (min-width: 64.0625rem) {
  .close-icon {
    top: 0.75rem;
    right: 0.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .modal-content-main {
    width: 50%;
  }

  .modal-content-secondary {
    width: 50%;
  }

  .modal {
    padding: 1rem;
  }

  .modal-buttons {
    flex-direction: row;
    gap: 1rem;
  }

  @keyframes moveToCenter {
    0% {
      height: var(--card-height); /* Start with the card's height */
    }
    100% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1.5rem;
      box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.5);
      width: 50vw;
      height: 70vh; /* Final height */
    }
  }
}
